<div id="headerwrap">
  <div class="container">
    <h1 class="header center page-title">
      <%= t "title" %>
    </h1>
    <div class="row center">
        <%= link_to t("home.get_start"), "#",
          {class: "waves-effect waves-light btn"} %>
    </div>
  </div>
</div>
