<% unless @user.is_user? current_user %>
  <div class="row center" id="follow-btn">
    <% if current_user.following? @user %>
      <%= render "unfollow" %>
    <% else %>
      <%= render "follow" %>
    <% end %>
  </div>
<% end %>
