<%= form_for current_user.relationship, remote: true do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit t("user.follow"), class: "waves-effect waves-light btn" %>
<% end %>
