# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: a965e068c804dcb005b87fada7c71850d2c1be309e43e4d1695d1c5f1fa78f3564b18121aa775d5af0bbe34c39abe196f4566e10d5c892fc5bb722091900f491

test:
  secret_key_base: 8d6f08604835b61c21d9e5b228dc6a1e510f899f62c635272678ff8c8cf44efa270e5cd9d4cefb0689f3b2e42901a062881f7e37966f3a0b844f8f2660d4beb1

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
