@import 'bootstrap-sprockets';
@import 'bootstrap';

$dark-gray: #33363b;
$light-green: #4db538;
$light-blue: #de4242;

.brand-logo {
  margin: 0 0 0 45px;
}

.brand-logo:hover {
  color: white;
  text-decoration: none !important;
}

.nav-wrapper {
  background-color: $dark-gray;
}

.right {
  margin: 0 25px 0 0;
}

.btn {
  background-color: $light-green !important;
}

.header-btn {
  margin: 0 5px 0 5px !important;
  background-color: $light-green !important;
}

.page-title {
  margin: auto;
  background-color: $dark-gray;
  padding: 15px 0 15px 0;
  width: 600px;
}

.page-footer {
  background-color: $dark-gray;
}

#headerwrap {
  margin-top: -20px;
  padding-top: 80px;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  background-image: url('bg01.png');

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  color: white;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
}

.image-slider {
  max-width: 33% !important;
  text-align: center;
  margin: 0 auto;
}

.btn-app-mobile {
  cursor: default;
  display: block;
  height: 78px;
  text-align: center;
  width: 250px;
}

.btn-app-mobile img {
  width: 100%;
  opacity: 0.2;
}

.coming-soon {
  font-size: 25px;
  font-weight: bold;
  color: $light-blue;
  position: relative;
  top: -55px;
}

.btn-app-ios {
  background-position-x: 249px;
}

@media (max-width: 990px){
  .btn-app-mobile {
    margin-left: 32%;
  }
}
