$dark-gray: #33363b;
$light-green: #4db538;
$light-green-material: #558b2f;
$light-blue: #de4242;

#app-logo {
  margin-left: 45px;
}

.header-list {
  margin-right: 35px;
}

#index-banner {
  background-image: url('bg01.png');
  background-size: contain;
  height: 90vh;
  background-size: cover;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin: 0 auto;
}

#header-navbar {
  background-color: $dark-gray;
}

#title-box {
  background-color: $dark-gray;
  opacity: 0.8;
  width: 850px;
  height: auto;
}

#signup-form {
  width: 500px;
}

.flash-danger {
  background-color: red;
}

.flash-info {
  background-color: $light-green-material;
}
