<li>
  <div class="row">
    <div class="col s2 item-list-data">
      <%= category.name %>
    </div>
    <div class="col s6 item-list-data">
      <%= category.description %>
    </div>
    <div class="col s2 item-list-data">
      <%= category.words.size %>
    </div>
    <div class="col s2 item-list-data">
      <%= link_to t("category.index_view.start"),
        lessons_path(lesson: {category_id: category.id,
        user_id: current_user.id, status: :fresh}), method: :post,
        class: "waves-effect waves-light btn" %>
    </div>
  </div>
</li>
