<li>
  <div class="row">
    <div class="col s2 item-list-data">
      <%= category.name %>
    </div>
    <div class="col s6 item-list-data">
      <%= category.description %>
    </div>
    <div class="col s2 item-list-data">
      <%= category.words.size %>
    </div>
    <div class="col s2 item-list-data">
      <a class="waves-effect waves-light btn">
        <%= t "category.index_view.start" %>
      </a>
    </div>
  </div>
</li>
