<header class="navbar-fixed">
  <nav>
    <div class="nav-wrapper" id="header-navbar">
      <%= link_to t("header.app_name"), root_path,
        {class: "brand-logo", id: "app-logo"} %>
      <ul class="right hide-on-med-and-down header-list" id="nav-mobile">
        <li><%= link_to t("header.signup"), signup_path %></li>
        <li><%= link_to t("header.login"), "#" %></li>
      </ul>
    </div>
  </nav>
</header>
